modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test Create Project"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test Remote"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Database Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Template Test"

[[workflows.workflow]]
name = "CLI Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init --help"

[[workflows.workflow]]
name = "CLI Test Create Project"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-local-project -t express-api"

[[workflows.workflow]]
name = "CLI Test Remote"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-remote-project -u https://github.com/expressjs/express-starter.git"

[[workflows.workflow]]
name = "Database Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js db --migrate"

[[workflows.workflow]]
name = "Template Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-template-project -t express-api"

[deployment]
run = ["sh", "-c", "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init --help"]
