modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test Create Project"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test Remote"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Database Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Template Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Template Variant Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test Variables"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Plugin Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Plugin System Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Documentation Check"

[[workflows.workflow]]
name = "CLI Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init --help"

[[workflows.workflow]]
name = "CLI Test Create Project"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-local-project -t express-api"

[[workflows.workflow]]
name = "CLI Test Remote"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-remote-project -u https://github.com/expressjs/express-starter.git"

[[workflows.workflow]]
name = "Database Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js db --migrate"

[[workflows.workflow]]
name = "Template Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-template-project -t express-api"

[[workflows.workflow]]
name = "Template Variant Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-variant-project -t express-api -v minimal --vars \"port=4000,useTypescript=true\""

[[workflows.workflow]]
name = "CLI Test Variables"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-var-project -t express-api -v minimal --vars \"port=4000,useTypescript=true,includeTests=true,serverName=dev-server\""

[[workflows.workflow]]
name = "Plugin Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-plugin-project -t express-api -v full"

[[workflows.workflow]]
name = "Plugin System Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js analyze"

[[workflows.workflow]]
name = "Documentation Check"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cat README.md"

[deployment]
run = ["sh", "-c", "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init --help"]
