modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test Remote"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Database Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Template Variant Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Test Variables"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Plugin System Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Documentation Check"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test Suite"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Help Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Environment Check"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Template Basic Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test Remote Template 2"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Remote Template Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Express API Test"

[[workflows.workflow]]
name = "CLI Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init --help"

[[workflows.workflow]]
name = "CLI Test Remote"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-remote-project --url https://github.com/expressjs/express.git"

[[workflows.workflow]]
name = "Database Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js db --migrate"

[[workflows.workflow]]
name = "Template Variant Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-variant-project -t express-api -v minimal --vars \"port=4000,useTypescript=true\""

[[workflows.workflow]]
name = "CLI Test Variables"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-var-project -t express-api -v minimal --vars \"port=4000,useTypescript=true,includeTests=true,serverName=dev-server\""

[[workflows.workflow]]
name = "Plugin System Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js analyze"

[[workflows.workflow]]
name = "Documentation Check"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cat README.md"

[[workflows.workflow]]
name = "Test Suite"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=test jest src/__tests__/analyzer/core.test.js --verbose"

[[workflows.workflow]]
name = "CLI Help Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js --help"

[[workflows.workflow]]
name = "Environment Check"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js env --check"

[[workflows.workflow]]
name = "Template Basic Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-basic-project -t express-api -v minimal --vars \"port=3000,useTypescript=false\""

[[workflows.workflow]]
name = "Test Remote Template 2"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-remote-app2 --url https://github.com/expressjs/express.git"

[[workflows.workflow]]
name = "Remote Template Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init -n test-remote-versioned --url https://github.com/expressjs/express.git --version 4.18.2"

[[workflows.workflow]]
name = "Express API Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd temp_express_api && npm run dev"
waitForPort = 3000

[deployment]
run = ["sh", "-c", "chmod +x bin/nodeforge.js && ./bin/nodeforge.js init --help"]

[[ports]]
localPort = 3000
externalPort = 80
